.label {
    color: white;
    padding: 8px;
  }

  .btn {
    margin: 3px;
    width: 30%;
    align-self:center;
  }

  .form-group {
    margin: 8px;
  }

  .input {
    margin: 5px;
  }

  .div {
    display: flex;  
  flex-direction: column;
  width: 50%;
  }

  .form-control {
    width: 100% !important;
    box-shadow: 0 0 0 0 #00000000 !important;
    border-color: #00000000 !important;
    border-bottom: 1px solid #efefef !important;
}

.form-control:focus {
    width: 100% !important;
    border-color: #00000000 !important;
    border-bottom: 3px solid var(--primary) !important;
    outline: 0;
    transition: all 0.3s ease-in;
}
  
  .success {background-color: #04AA6D;} /* Green */
  .info {background-color: #2196F3;} /* Blue */
  .warning {background-color: #ff9800;} /* Orange */
  .danger {background-color: #f44336;} /* Red */
  .other {background-color: #e7e7e7; color: black;} /* Gray */